@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&family=Outfit:wght@400;700&display=swap");
* {
  box-sizing: 0;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  border: none;
}

:root {
  --dark: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --White: hsl(0, 0%, 100%);
}

.container {
  background-color: var(--cream);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product {
  display: flex;
  width: 570px;
  height: 450px;
  background-color: var(--White);
  border-radius: 10px;
  overflow: hidden;
}
img {
  width: 300px;
}

.details {
  padding: 1.5rem;
}
.typeOfProduct {
  letter-spacing: 1ch;
  font-size: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.title {
  font-family: "Fraunces", serif;
  font-weight: 700;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.4rem;
  color: var(--Dark-grayish-blue);
  margin-bottom: 1rem;
}

.price {
  display: flex;
  align-items: center;
  color: var(--dark);
  margin-bottom: 1rem;
}
.price > p {
  font-family: "Fraunces", serif;
  font-size: 1.8rem;
}

.price > span {
  font-size: 0.8rem;
  text-decoration: line-through;
  margin-left: 1rem;
}

button {
  background-color: var(--dark);
  padding: 1rem 2rem;
  width: 200px;
  color: white;
  font-size: 1rem;
  border-radius: 10px;
}

button:hover{
    background-color: var(--Very-dark-blue);
}


/* =======Mobile====== */
@media screen and (max-width: 550px) {
  .product {
    display: flex;
    flex-direction: column;
    width: 390px;
    height: auto;
  }
  img {
    width: 400px;
  }

  .img {
    height: 300px;
    overflow: hidden;
  }

  button{
    width: 340px;
  }
}
